---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game";
import Github from "../components/Github.astro";
---

<Layout title="Play Checkers">
  <main
    class="bg-gradient-to-br from-lime-50 to-lime-500 min-h-screen grid justify-center content-start"
  >
    <style>
      header {
        width: min(70vh, 70vw);
      }
    </style>
    <header class="flex items-end justify-between">
      <h1 class="text-4xl text-center mx-auto">Play Checkers!</h1>
      <a href="https://github.com/Crazytieguy/checkers" target="_blank">
        <Github />
      </a>
    </header>
    <Game client:only="solid-js" />
  </main>
</Layout>
