---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game";
import Github from "../components/Github.astro";
import ThemeToggle from "../components/ThemeToggle";
---

<Layout title="Play Checkers">
  <main
    class="bg-gradient-to-br min-h-screen grid justify-center content-start dark:from-blue-medium dark:to-blue-dark from-blue-light to-blue-medium dark:text-grey-light"
  >
    <style>
      header {
        width: min(75vh, 90vw);
      }
    </style>
    <header class="sm:flex justify-between items-end text-4xl mt-4">
      <h1 class="mx-auto text-center">Play Checkers!</h1>
      <div class="flex justify-between gap-6 mt-2">
        <a href="https://github.com/Crazytieguy/checkers" target="_blank">
          <Github />
        </a>
        <ThemeToggle client:idle />
      </div>
    </header>
    <Game client:only="solid-js" />
  </main>
</Layout>
