---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game";
import Github from "../components/Github.astro";
import ThemeToggle from "../components/ThemeToggle";
---

<Layout title="Play Checkers">
  <main
    class="bg-gradient-to-br min-h-screen grid justify-center content-start dark:from-blue-medium dark:to-blue-dark from-blue-light to-blue-medium dark:text-grey-light"
  >
    <style>
      header {
        width: min(70vh, 70vw);
      }
    </style>
    <header class="flex items-end justify-between">
      <h1 class="text-4xl text-center mx-auto">Play Checkers!</h1>
      <a
        href="https://github.com/Crazytieguy/checkers"
        target="_blank"
        class="mr-3"
      >
        <Github />
      </a>
      <ThemeToggle client:idle />
    </header>
    <Game client:only="solid-js" />
  </main>
</Layout>
