---
import Layout from "../layouts/Layout.astro";
import Board from "../components/Board";
---

<Layout title="Play Checkers">
  <main
    class="bg-gradient-to-br from-lime-50 to-lime-500 min-h-screen grid justify-center content-start gap-4"
  >
    <header>
      <h1 class="text-4xl text-center">Play Checkers!</h1>
    </header>
    <Board client:only="solid-js" />
  </main>
</Layout>
