---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game";
import Github from "../components/Github.astro";
import ThemeToggle from "../components/ThemeToggle";
---

<Layout title="Play Checkers">
  <main class="min-h-screen grid justify-center place-content-start">
    <header
      class="text-4xl mt-5 w-[var(--board-size)] sm:flex justify-between items-center"
    >
      <div class="flex justify-between order-2">
        <a
          href="https://github.com/Crazytieguy/checkers"
          target="_blank"
          title="Github repo"
          class="mr-4"
        >
          <Github />
        </a>
        <ThemeToggle client:idle />
      </div>
      <h1 class="text-center order-1 mt-3 sm:mt-0">Play Checkers!</h1>
    </header>
    <Game client:only="solid-js" />
  </main>
</Layout>
