---
import "../global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Play checkers online!" />
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-br from-blue-light to-blue-medium dark:text-grey-light before:absolute before:inset-0 relative before:bg-gradient-to-br before:from-blue-medium before:to-blue-dark before:opacity-0 before:dark:opacity-100 z-0 before:-z-10 transition-colors duration-1000 before:transition-opacity before:duration-1000"
  >
    <slot />
  </body>
</html>
